In [4]:
import pandas as pd
df = pd.read_csv("../data/healthcare_logs.csv")
df.head()

  UserID             Timestamp DiagnosisCode Country  ConsentStatus
0   U001  2024-01-01T12:00:00Z         C50.9      DE           True
1   U002  2024-01-02T14:00:00Z         C50.9      US          False
2   U003  2024-01-03T16:00:00Z         C50.9      DE           True

In [5]:
# üåç Feature 1: Non-EU Access Flag
# Mark rows where the country is outside of EU

eu_countries = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI',
                'FR', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT',
                'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']

df["non_eu_flag"] = ~df["Country"].isin(eu_countries)
df[["Country", "non_eu_flag"]].head()

  Country  non_eu_flag
0      DE        False
1      US         True
2      DE        False

In [6]:
# ‚úÖ Feature 2: Consent Violation Flag
# Mark rows where consent is missing or explicitly set to false

df["consent_violation_flag"] = df["ConsentStatus"] == False
df[["ConsentStatus", "consent_violation_flag"]].head()

   ConsentStatus  consent_violation_flag
0           True                   False
1          False                    True
2           True                   False

In [8]:
# üïí Feature 3: Admin Access Outside Business Hours
# Detect admin logins outside of expected working hours (e.g. 22:00‚Äì06:00)

# Convert to datetime
df["timestamp"] = pd.to_datetime(df["Timestamp"], errors='coerce')
df["hour"] = df["timestamp"].dt.hour

# Define the flag
df["admin_access_outside_hours"] = (df["Role"] == "admin") & ((df["hour"] < 6) | (df["hour"] > 22))

df[["Role", "hour", "admin_access_outside_hours"]].head()

KeyError: 'Role'